@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* @font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap') format('woff2');
} */


@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-red text-white font-semibold rounded-3xl shadow-md focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-opacity-75;
  }
}

.slide-top {
  animation: slide-top .5s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes slide-top {
  0% {transform:translatey(-100px)}
  100%{transform:translatey(0)}
}

.show-text {
  animation: show-text .5s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes show-text {
  0%{transform:translateX(-80px)}
  100%{transform:translateX(0)}
}

.hero-tropa {
  background-image: url("../assets/tropa23.png");
}

.hero {
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center ;
  height: 330px;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  transition: 1s;
  opacity: 0;
}

.loaded {
  opacity: 1;
}

.footer {
  background: #595858;
}

.card-teach {
  height: 400px;
}

.avatar {
  height: 71px;
}

.card-price {
  width: 275px;
}

@media (min-width: 640px) {
  .standar-width {
    padding-left: 60px;
    padding-right: 60px;
  }
  .hero {
    height: 491px;
  }
  .hero-tropa {
    background-image: none;
  }
  .line-height-max {
    line-height: 60px !important;
  }
  .card-price {
    width: 347px;
  }  
}